name: Run e2e Tests

on: [pull_request]

jobs:
  run-e2e-tests:
    name: Run e2e Tests
    runs-on: Ubuntu-latest

    services:
        postgres:
            image: bitnami/postgresql:latest
            ports:
            - "5432:5432"
            env:
                POSTGRESQL_USERNAME: docker
                POSTGRESQL_PASSWORD: Docker
                POSTGRESQL_DATABASE: todo_list


    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
      - run: npm ci
      - run: npx prisma generate --schema=build/prisma.schema.js --datasource-url="postgresql://docker:Docker@localhost:5432/todo_list?schema=public"

      - run: npx prisma migrate deploy --schema=prisma/schema.prisma --datasource-url="postgresql://docker:Docker@localhost:5432/todo_list?schema=public"

      - run: npm run test:e2e
        env:
          JWT_SECRET: todolist
          DATABASE_URL: "postgresql://docker:Docker@localhost:5432/todo_list?schema=public"

